*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(16, 0, 22);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
#yo
{
    width: 170px;
    height: 170px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -85px 0 0 -85px;
    fill: transparent;
    stroke: rgb(19, 19, 19);
    stroke-width: 4;
}
#yo:hover
{
    animation: jesbran 2s ease forwards 1.5s;
}
#circu{
    fill: none;
    stroke: aqua;
    stroke-width: .665;
    /*width: 3000px;
    height: 100vh;*/
    filter: drop-shadow(0 0 0.3rem rgb(255, 255, 255));
}
#circu path:nth-child(1){
    stroke-dasharray: 5, 115;
    stroke-dashoffset: 120;
    animation: val 3s infinite ease forwards;
}
#circu path:nth-child(2){
    stroke-dasharray: 5, 115;
    stroke-dashoffset: 120;
    animation: val 3s infinite ease forwards;
}
#circu path:nth-child(3){
    stroke-dasharray: 6, 130;
    stroke-dashoffset: 140;
    animation: vam 3s infinite ease forwards;
}
#circu path:nth-child(4){
    stroke-dasharray: 6, 130;
    stroke-dashoffset: 140;
    animation: ola 3s infinite ease forwards;
}
#circu path:nth-child(5){
    stroke-dasharray: 6, 130;
    stroke-dashoffset: 140;
    animation: ola 3s infinite ease forwards;
}
#circu path:nth-child(6){
    stroke-dasharray: 5, 115;
    stroke-dashoffset: 120;
    animation: val 3s infinite ease forwards;
}
#circu path:nth-child(7){
    stroke-dasharray: 5, 115;
    stroke-dashoffset: 120;
    animation: val 3s infinite ease forwards;
}
#circu path:nth-child(8){
    stroke-dasharray: 5, 115;
    stroke-dashoffset: 120;
    animation: val 3s infinite ease forwards;
}
#circu path:nth-child(9){
    stroke-dasharray: 5, 115;
    stroke-dashoffset: 120;
    animation: val 3s infinite ease forwards;
}
#circu path:nth-child(10){
    stroke-dasharray: 5, 115;
    stroke-dashoffset: 120;
    animation: val 3s infinite ease forwards;
}
#circu path:nth-child(11){
    stroke-dasharray: 5, 115;
    stroke-dashoffset: 120;
    animation: val 3s infinite ease forwards;
}
#circu path:nth-child(12){
    stroke-dasharray: 5, 115;
    stroke-dashoffset: 120;
    animation: val 3s infinite ease forwards;
}
#circu path:nth-child(13){
    stroke-dasharray: 5, 115;
    stroke-dashoffset: 120;
    animation: val 3s infinite ease forwards;
}
#circu path:nth-child(14){
    stroke-dasharray: 5, 115;
    stroke-dashoffset: 120;
    animation: val 3s infinite ease forwards;
}
#circu path:nth-child(15){
    stroke-dasharray: 5, 115;
    stroke-dashoffset: 120;
    animation: val 3s infinite ease forwards;
}
#circu path:nth-child(16){
    stroke-dasharray: 5, 115;
    stroke-dashoffset: 120;
    animation: val 3s infinite ease forwards;
}
#circu path:nth-child(17){
    stroke-dasharray: 5, 115;
    stroke-dashoffset: 120;
    animation: val 3s infinite ease forwards;
}
#circu path:nth-child(18){
    stroke-dasharray: 5, 115;
    stroke-dashoffset: 120;
    animation: val 3s infinite ease forwards;
}
#circu path:nth-child(19){
    stroke-dasharray: 5, 115;
    stroke-dashoffset: 120;
    animation: val 3s infinite ease forwards;
}
#circu path:nth-child(20){
    stroke-dasharray: 5, 115;
    stroke-dashoffset: 120;
    animation: val 3s infinite ease forwards;
}
#circu path:nth-child(21){
    stroke-dasharray: 5, 115;
    stroke-dashoffset: 120;
    animation: val 3s infinite ease forwards;
}
#circu path:nth-child(22){
    stroke-dasharray: 5, 115;
    stroke-dashoffset: 120;
    animation: val 3s infinite ease forwards;
}
#circu path:nth-child(23){
    stroke-dasharray: 6, 130;
    stroke-dashoffset: 140;
    animation: ola 3s infinite ease forwards;
}
#circu path:nth-child(24){
    stroke-dasharray: 5, 115;
    stroke-dashoffset: 120;
    animation: val 3s infinite ease forwards;
}
#circu path:nth-child(25){
    stroke-dasharray: 5, 115;
    stroke-dashoffset: 120;
    animation: val 3s infinite ease forwards;
}
#circu path:nth-child(26){
    stroke-dasharray: 6, 130;
    stroke-dashoffset: 140;
    animation: ola 3s infinite ease forwards;
}
#circu path:nth-child(27){
    stroke-dasharray: 5, 115;
    stroke-dashoffset: 120;
    animation: val 3s infinite ease forwards;
}
#circu path:nth-child(28){
    stroke-dasharray: 5, 115;
    stroke-dashoffset: 120;
    animation: val 3s infinite ease forwards;
}
#circu path:nth-child(29){
    stroke-dasharray: 6, 130;
    stroke-dashoffset: 140;
    animation: ola 3s infinite ease forwards;
}
#circu path:nth-child(30){
    stroke-dasharray: 5, 115;
    stroke-dashoffset: 120;
    animation: val 3s infinite ease forwards;
}
#circu path:nth-child(31){
    stroke-dasharray: 5, 115;
    stroke-dashoffset: 120;
    animation: val 3s infinite ease forwards;
}
#circu path:nth-child(32){
    stroke-dasharray: 5, 115;
    stroke-dashoffset: 120;
    animation: val 3s infinite ease forwards;
}
#circu path:nth-child(33){
    stroke-dasharray: 5, 115;
    stroke-dashoffset: 120;
    animation: val 3s infinite ease forwards;
}
#circu path:nth-child(34){
    stroke-dasharray: 5, 115;
    stroke-dashoffset: 120;
    animation: val 3s infinite ease forwards;
}
#circu path:nth-child(35){
    stroke-dasharray: 5, 115;
    stroke-dashoffset: 120;
    animation: val 3s infinite ease forwards;
}
#circu path:nth-child(36){
    stroke-dasharray: 5, 115;
    stroke-dashoffset: 120;
    animation: val 3s infinite ease forwards;
}
#circu path:nth-child(37){
    stroke-dasharray: 5, 115;
    stroke-dashoffset: 120;
    animation: val 3s infinite ease forwards;
}
#circu path:nth-child(38){
    stroke-dasharray: 5, 115;
    stroke-dashoffset: 120;
    animation: val 3s infinite ease forwards;
}
#circu path:nth-child(39){
    stroke-dasharray: 5, 115;
    stroke-dashoffset: 120;
    animation: val 3s infinite ease forwards;
}
#circu path:nth-child(40){
    stroke-dasharray: 5, 115;
    stroke-dashoffset: 120;
    animation: val 3s infinite ease forwards;
}
#circu path:nth-child(41){
    stroke-dasharray: 5, 115;
    stroke-dashoffset: 120;
    animation: val 3s infinite ease forwards;
}

#yo:hover path:nth-child(1){
    stroke-dasharray: 1500;
    stroke-dashoffset: 1500;
    animation: pq 2s ease-in forwards;
}
#yo:hover path:nth-child(2){
    stroke-dasharray: 1500;
    stroke-dashoffset: 1500;
    animation: pq 2s ease-in forwards;
}

@keyframes val{
    0%
    {
        stroke-dashoffset: 120;
    }
    100%
    {
        stroke-dasharray: 120;
        stroke-dashoffset: 120;
    }
}
@keyframes vam
{
    0%
    {
        stroke-dashoffset: 132;
    }
    100%
    {
        stroke-dasharray: 132;
        stroke-dashoffset: 132;
    }
}
@keyframes ola
{
    0%
    {
        stroke-dashoffset: 135;
    }
    100%
    {
        stroke-dasharray: 135;
        stroke-dashoffset: 135;
    }
}
@keyframes pq
{
    to{
        stroke: aqua;
        stroke-dashoffset: 0;
    }
}
@keyframes jesbran
{
    from{
        fill: transparent;
    }
    to{
        filter: drop-shadow(0 0 0.3rem rgb(1, 236, 253));
        fill: aqua;
    }
}